html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #616161;
}

header.page-header {
    max-height: 20px;
    padding: 20px;
    font-size: 20px;
    color: #14304e;
    background-color: #ec825c;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: 10px 12px;
}

.currentName {
    position: relative;
    left: 0;
}

.myTitle {
    position: absolute;
    top: 8px;
    float: left;
}

.titleChat {
    position: absolute;
    text-decoration: none;
    color: #14304e;
    top: 6px;
    left: 45px;
}

.info {
    text-align: left;
}

.myInfo {
    text-align: right;
}

.messageBlock {
    clear: both;
}

.bubble
{
    float: left;
    text-align: justify;
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    width: auto;
    max-width: 60%;
    background: #4b4b4b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #E97D33 solid 2px;
}

.myBubble
{
    float: right;
    text-align: justify;
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    width: auto;
    max-width: 60%;
    background: #4b4b4b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #E97D33 solid 2px;
}

.login {
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 20px;
}

.textLogin {
    font-weight: 400;
    cursor: text;
    height: 24px;
    width: 30%;
    color: white;
    background-color: #777777;
    border-radius: 4px;
    border: 2px solid black;
}

.myButtonLogin {
    font-weight: 400;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 20%;
    background-color: #777777;
    border-radius: 4px;
    border: 2px solid black;
}

.myButtonLogin:active {
    color: rgb(250, 250, 250);
    border: 1px solid rgb(86, 86, 86);
    background: rgb(159, 159, 159) linear-gradient(rgb(149, 149, 149), rgb(141, 141, 141));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84) inset;
}

.labelWarning {
    background-color: #ec825c;
}

.labelSuccess {
    background-color: #4b4b4b;
}

.label {
    float: right;
    font-weight: 400;
    display: inline;
    color: white;
    border-radius: 4px;
    border: 2px solid black;
}

.chat {
    float: left;
    border-radius: 4px;
    position: absolute;
    width: 79%;
    height: 85%;
    left: 0;
    margin-top: 10px;
}

.loggedName {
    color: white;
    background-color: #777777;
    border-radius: 4px;
    border: 2px solid black;
    height: 24px;
    width: auto;

}

.editNameButton {
    cursor: pointer;
    color: white;
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 2px solid black;
    height: 30px;
    width: 10%;
}

.editNameButton:active {
    color: rgb(250, 250, 250);
    border: 1px solid rgb(86, 86, 86);
    background: rgb(159, 159, 159) linear-gradient(rgb(149, 149, 149), rgb(141, 141, 141));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84) inset;
}

.textMessage {
    color: white;
    height: 44px;
    cursor: text;
    width: 79%;
    background-color: #777777;
    border-radius: 4px;
    border: 2px solid black;
}

.myButtonMessage {
    color: white;
    height: 50px;
    cursor: pointer;
    width: 19%;
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 2px solid black;
}

.myButtonMessage:active {
    color: rgb(250, 250, 250);
    border: 1px solid rgb(86, 86, 86);
    background: rgb(159, 159, 159) linear-gradient(rgb(149, 149, 149), rgb(141, 141, 141));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84) inset;
}

.textBox {
    overflow: auto;
    color: white;
    height: 80%;
    width: 98%;
    background-color: #777777;
    border-radius: 4px;
    border: 2px solid black;
}

.deleteButton {
    color: white;
    height: 50px;
    cursor: pointer;
    width: 32%;
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 2px solid black;
}

.deleteButton:active {
    color: rgb(250, 250, 250);
    border: 1px solid rgb(86, 86, 86);
    background: rgb(159, 159, 159) linear-gradient(rgb(149, 149, 149), rgb(141, 141, 141));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84) inset;
}

.editButton {
    color: white;
    height: 50px;
    cursor: pointer;
    width: 34%;
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 2px solid black;
}

.editButton:active {
    color: rgb(250, 250, 250);
    border: 1px solid rgb(86, 86, 86);
    background: rgb(159, 159, 159) linear-gradient(rgb(149, 149, 149), rgb(141, 141, 141));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84) inset;
}

.listMessageButton {
    color: white;
    height: 50px;
    cursor: pointer;
    width: 32%;
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 2px solid black;
}

.listMessageButton:active {
    color: rgb(250, 250, 250);
    border: 1px solid rgb(86, 86, 86);
    background: rgb(159, 159, 159) linear-gradient(rgb(149, 149, 149), rgb(141, 141, 141));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.84) inset;
}

.usersBox {
    float: right;
    color: white;
    height: 85%;
    width: 20%;
    background-color: #4b4b4b;
    border-radius: 4px;
    border: 2px solid black;
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    .chat {
        border-radius: 4px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        margin-top: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .bubble, .myBubble {
        max-width: 90%;
    }

    .myButtonMessage, .deleteButton, .editButton, .listMessageButton {
        height: 60px;
    }

    .deleteButton, .listMessageButton {
        height: 60px;
        width: 32%;
    }

    .loggedName, .textLogin, .myButtonLogin {
        width: auto;
    }

    .editNameButton {
        width: 34%;
        height: 60px;
    }

    .textMessage {
        width: 66%;
    }

    .myButtonMessage {
        height: 60px;
        width: 32%;
    }

    .loggedName, .textMessage {
        height: 55px;
    }

    .textBox {
        height: 80%;
        width: 98%;
    }

    .usersBox {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .textLogin {
        width: 50%;
    }

    .myButtonLogin {
        width: 30%;
    }

    .editNameButton {
        width: auto;
    }

    .deleteButton, .listMessageButton {
        width: 31%;
    }

    .textMessage {
        width: 65%;
    }
}

@media screen and (max-width: 353px) {
    .textLogin {
        width: 40%;
    }

    .myButtonLogin {
        width: 25%;
    }
}